


<header>
    <nav>

<div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <h5 class="text-white h4">Collapsed content</h5>
      <span class="text-muted">Toggleable via the navbar brand.</span>
    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</div>

    </nav>
</header>
    <button>Log In</button>
    <button>Sign Up</button>
    <button>Textes les plus populaires</button>
    <button>Textes les plus récents</button>
    <button>Auteur.e.s</button>
    <button>Textes</button>
    <button>Votes du moment</button>



