
<header>
    <nav>

<div class="dropdown">
  <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Menu
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
    <a href="/fr/authors-list"><button class="dropdown-item" type="button">Auteur.e.s</button></a>
    <a href="/fr/texts-list"><button class="dropdown-item" type="button">Textes</button></a>
    <a href="/my-space"><button class="dropdown-item" type="button">Mon espace</button></a>
    <a href="/"><button class="dropdown-item" type="button">Changer de langue</button></a>
  </div>
</div>

    </nav>
</header>


<div class="buttonHP">
  <div class="tous">
    <a href="/fr/texts-list"><button type="button" class="btn btn-outline-info">Tous les textes</button></a>
    <a href="/fr/authors-list"><button type="button" class="btn btn-outline-info">Tous les auteur.e.s</button></a>
  </div>

  <div class="general">
    <a href="/fr/populares-texts"><button type="button" class="btn btn-outline-info">Textes populaires</button></a>
    <a href="/fr/recents-texts"><button type="button" class="btn btn-outline-info">Textes récents</button></a>
    <a href="/fr/votes"><button type="button" class="btn btn-outline-info">Votes du moment</button></a>
  </div>

  <div class="author">
    <a href="/login/author"><button type="button" class="btn btn-outline-info">Log In Auteur</button></a>
    <a href="/signup/author"><button type="button" class="btn btn-outline-info">Sign Up Auteur</button></a>
    <a href="/text-post"><button type="button" class="btn btn-outline-info">Poster un nouveau texte</button></a>
  </div>

    <div class="user">
      <a href="/login/user"><button type="button" class="btn btn-outline-info">Log In Lecteur</button></a>
      <a href="/signup/user"><button type="button" class="btn btn-outline-info">Sign Up Lecteur</button></a>
  </div>

  <div class="logout">
    <a href="/logout"><button type="button" class="btn btn-outline-info">Log Out</button></a>
  </div>
</div>
