<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>📚 Write together 📚</title>
</head>
<body>
<div class="mainContainer">
    <h1>📚 Write together 📚</h1>
    <p>Introduction bla bla ENGLISH</p>

    <p>Choose your language to access the corresponding website:</p>
    <div class="container">
            <a href="/home-page/en"><img src="../images/gb.png" alt="drapeau anglais"/></a>
            <a href="/fr"><img src="../images/fr.png" alt="drapeau français"/></a>
            <a href="/home-page/es"><img src="../images/es.png" alt="drapeau espagnol"/></a>
            <a href="/home-page/se"><img src="../images/se.png" alt="drapeau suedois"/></a>
    </div>
</div>

</body>
</html>



