<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>📚 Write together 📚</title>
</head>
<body>


<div class="mainContainer" style="padding-top:2%; padding-bottom: 2%">
    <h1>📚 Write Together 📚</h1>
    <p>Introduction bla bla ENGLISH</p>
    <p>*****************************</p>
    <p>*****************************</p>
    <p>*****************************</p>
    <p>*****************************</p>
    <p>*****************************</p>


    <p><span style="border:1px solid black;padding:0.5%">Choose your language to access the corresponding website:</span></p>
    <div class="container">
            <a href="/home-page/en"><img src="/images/index/gb.png" alt="drapeau anglais"/></a>
            <a href="/fr"><img src="/images/index/fr.png" alt="drapeau français"/></a>
            <a href="/home-page/es"><img src="/images/index/es.png" alt="drapeau espagnol"/></a>
            <a href="/home-page/se"><img src="/images/index/se.png" alt="drapeau suedois"/></a>
    </div>
</div>

</body>
</html>



