

<header>
    <nav>

<div class="dropdown">
  <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Menu
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
    <a href="/fr"><button class="dropdown-item" type="button">Page d'accueil</button></a>
    <a href="/fr/authors-list"><button class="dropdown-item" type="button">Auteur.e.s</button></a>
    <a href="/fr/texts-list"><button class="dropdown-item" type="button">Textes</button></a>
    <a href="/my-space"><button class="dropdown-item" type="button">Mon espace</button></a>
    <a href="/"><button class="dropdown-item" type="button">Changer de langue</button></a>

  </div>
</div>

    </nav>
</header>


<h1>Textes les plus populaires</h1>

<ul>
  {{#each texteArray}}
  <li>
    <p><a href="/fr/text/{{this.id}}">{{this.title}}</a> - <a href="/fr/author/{{this.author._id}}">{{this.author.displayName}}</a></p>
  </li>
  {{/each}}
</ul>
