

<nav>
    <a href="/fr"><button>Retour</button></a>
</nav>



<h1>Vous voulez une suite à ce texte? donnez votre avis sur le scénario :</h1>



<form method="POST" action="/process-request/{{this.id}}">
<label>
    Pseudo :
    <input type="text" name="pseudo" placeholder="Votre pseudonyme">
<br />

<label >
   <h3> Quel scénario voyez-vous pour ce texte ? </h3>
    <input class="text-post" type="text" name="comments" placeholder="Déposez votre scénario ici (de 10 à 300 caractères, espaces inclus)" />
</label>
<br />

<p> </p>


  <button> Sauvegarder votre vote </button>

