
<nav>
<div class="dropdown">

<a href="/fr"><button type="button" class="btn btn-info">Accueil</button></a>

  </div>
</nav>


<h2>Log In Auteur.e</h2>

{{!-- {{> flashMessages}} --}}

<form method="POST" action="/process-login-author">
    <label>
        Email:
    <input type="text" name="email" placeholder="holly@diote.com" />
    </label>
    <br />

    <label>
        Password:
    <input type="password" name="loginPassword" placeholder="Your secret it safe with us" />
    </label>
    <br />

    <button>Log In</button>

</form>

    <h3> Pas encore inscrit ? </h3>   <a href="/signup/author"> <button> Sign Up Auteur </button></a>

