  {{!-- BOOTSTRAP --}}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

<nav>
<div class="dropdown">

<a href="/fr"><button type="button" class="btn btn-info">Accueil</button></a>

  </div>
</nav>


<h2>Sign Up Auteur.e</h2>

<form method="POST" action="/process-signup-author">
<label>
    Prénom :
    <input type="text" name="firstName" placeholder="Melanie Netendoenmarche" />
</label>
<br />

<label>
    Nom:
    <input type="text" name="lastName" placeholder="Melanie Netendoenmarche" />
</label>
<br />

<label>
    Pseudo:
    <input type="text" name="pseudo" placeholder="Pseudonyme" />
</label>
<br />

<label>
    Email:
    <input type="email" name="email" placeholder="exemple@exemple.com" />
</label>
<br />

<label>
    Date de naissance:
    <input type="date" name="birthday" placeholder="jj/mm/aaaa" />
</label>
<br />

<label>
    Description:
    <input type="text" name="description" placeholder="Votre style en quelques mots" />
</label>
<br />

<label>
    Mot de passe:
    <input type="password" name="originalPassword" placeholder="We won't tell" />
</label>
<br />

<button>Sign Up</button>
</form>


{{!-- BOOTSTRAP --}}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
