<h2>Sign Up Users</h2>

<form method="POST" action="/process-signup">
<label>
    Prénom :
    <input type="text" name="firstName" placeholder="Melanie Netendoenmarche" />
</label>
<br />

<label>
    Nom:
    <input type="text" name="lastName" placeholder="Melanie Netendoenmarche" />
</label>
<br />

<label>
    Pseudo:
    <input type="text" name="pseudo" placeholder="Pseudonyme" />
</label>
<br />

<label>
    Email:
    <input type="email" name="email" placeholder="exemple@exemple.com" />
</label>
<br />

<label>
    Date de naissance:
    <input type="date" name="birthday" placeholder="jj/mm/aaaa" />
</label>
<br />

<label>
    Mot de passe:
    <input type="password" name="originalPassword" placeholder="We won't tell" />
</label>
<br />

<button>Sign Up</button>
</form>
