

<nav>
    <a href="/fr"><button>Retour</button></a>
</nav>


<!--à placer avant toute chose / display message -->

<!--{{> flashMessages}} -->


<h1>Postez votre texte</h1>

<form method="POST" action="/process-text">
<label>
    Titre :
    <input type="text" name="title" placeholder="Titre de votre texte" />
</label>
<br />

<label>
    Votre texte:
    <input type="text" name="content" placeholder="Déposez votre texte ici (1200 caractères, espaces inclus)" />
</label>
<br />

<p> </p>


  <button> Sauvegarder votre texe </button>

