
<nav>
    <header>
    <nav>
<div class="dropdown">
  <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Menu
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
    <a href="/fr"><button class="dropdown-item" type="button">Page d'accueil</button></a>
    <a href="/fr/texts-list"><button class="dropdown-item" type="button">Textes</button></a>
    <a href="/my-space"><button class="dropdown-item" type="button">Mon espace</button></a>
    <a href="/"><button class="dropdown-item" type="button">Changer de langue</button></a>
  </div>
</div>

    </nav>
</header>
</nav>

<div class="titreTousTextes">
<h1>Liste des auteur.e.s</h1>
</div>

<div class="listeTousTextes">
<ul>
  {{#each authorArray}}
    <li>
      <p><a href="/fr/author/{{this.id}}">{{this.displayName}}</a></p>
    </li>
  {{/each}}
</ul>
</div>




{{!-- Boutons accès aux pages suivantes --}}
{{!-- <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
  <div class="btn-group mr-2" role="group" aria-label="First group">
    <button type="button" class="btn btn-secondary">1</button>
    <button type="button" class="btn btn-secondary">2</button>
    <button type="button" class="btn btn-secondary">3</button>
    <button type="button" class="btn btn-secondary">4</button>
  </div>
  <div class="btn-group mr-2" role="group" aria-label="Second group">
    <button type="button" class="btn btn-secondary">5</button>
    <button type="button" class="btn btn-secondary">6</button>
    <button type="button" class="btn btn-secondary">7</button>
  </div>
  <div class="btn-group" role="group" aria-label="Third group">
    <button type="button" class="btn btn-secondary">8</button>
  </div>
</div>
 --}}
