

<nav>
    <a href="/fr"><button>Retour</button></a>
</nav>



<h1>Postez votre texte</h1>

<form method="POST" action="/process-text">
<label>
    Titre :
    <input type="text" name="title" placeholder="Titre de votre texte" />
</label>
<br />

<label >
    Votre texte:
    <input class="text-post" type="text" name="content" placeholder="Déposez votre texte ici (1200 caractères, espaces inclus)" />
</label>
<br />

<p> </p>


  <button> Sauvegarder votre texe </button>

